<div class="content-wrapper flex flex-col h-screen pt-20">
  <div class="container mx-auto content demographics relative flex-1 pt-10">
    <div class="overlay"></div>
    <h1 class="text-denmark-red mb-4">Demografia da Dinamarca</h1>
    <p class="mb-4">
      A Dinamarca tem uma população estimada em 5.974.086 habitantes (dados de 1º de agosto de 2024). O crescimento populacional é de aproximadamente 1,0085% ao ano, com uma taxa de natalidade de 9,85 nascimentos por 1.000 habitantes e uma taxa de mortalidade de 10,02 mortes por 1.000 habitantes.
    </p>
    <p class="mb-4">
      A expectativa de vida na Dinamarca é de 81,66 anos, com 79,74 anos para os homens e 83,71 anos para as mulheres. A taxa de fertilidade é de 1,55 filhos por mulher e a taxa de mortalidade infantil é de 3,04 mortes por 1.000 nascimentos vivos.
    </p>
    <p class="mb-4">
      A estrutura etária é composta por 16,42% da população com idade entre 0 e 14 anos, e 19,91% com 65 anos ou mais. O índice de sexos é de 0,99 homens para cada mulher, com uma proporção de 1,07 homens por mulher ao nascer e 0,7 homens por mulher na faixa etária de 65 anos ou mais.
    </p>
    <p class="mb-4">
      A população de origem dinamarquesa, definida como aqueles com pelo menos um dos pais nascido na Dinamarca e que possui cidadania dinamarquesa, tem se mantido constante em torno de 5 milhões desde 1980. O crescimento populacional a partir de 5,1 milhões até os 5,8 milhões em 2018 foi quase todo devido à imigração.
    </p>
    <p>
      Dados demográficos revelam que, em média, ocorre um nascimento a cada 8 minutos, uma morte a cada 9 minutos e um migrante líquido a cada 34 minutos, resultando em um ganho líquido de uma pessoa a cada 24 minutos. A população dinamarquesa tem se mostrado diversificada, refletindo um crescente número de grupos étnicos e nacionais que enriquecem a cultura do país.
    </p>
  </div>
</div>
