node_modules
bower_components

dist
out-tsc
tmp
coverage

.vscode
.idea
*.swp
*.sublime-project
*.sublime-workspace

.git
.gitignore

npm-debug.log
yarn-debug.log
yarn-error.log

.DS_Store
Thumbs.db

docker-compose.yml
Dockerfile
.dockerignore

public/
