<div class="content-wrapper flex flex-col h-screen pt-20">
  <div class="container mx-auto content history relative flex-1 pt-10">
    <div class="overlay"></div>
    <h1 class="text-denmark-red mb-4">História da Dinamarca</h1>
    <p class="mb-4">
      A história da Dinamarca como um reino unificado teve início no século VIII, embora documentos históricos
      descrevam a área geográfica e o povo que lá habitava—os dinamarqueses—já no ano 500 d.C. Esses documentos
      primitivos incluem escritos de autores como Jordanes e Procopius. Com a cristianização dos dinamarqueses
      por volta de 960 d.C., fica claro que já existia uma monarquia. O rei Frederik X pode traçar sua linhagem
      de volta aos reis vikings Gorm, o Velho, e Harald Bluetooth, fazendo da Monarquia da Dinamarca a mais antiga
      da Europa.
    </p>
    <p class="mb-4">
      A área agora conhecida como Dinamarca possui uma rica pré-história, sendo habitada por várias culturas e
      povos pré-históricos durante cerca de 12.000 anos, desde o final da última Era do Gelo. A história da
      Dinamarca foi particularmente influenciada por sua localização geográfica entre os mares do Norte e Báltico,
      um ponto estratégico e econômico entre a Suécia e a Alemanha, no centro de lutas mútuas pelo controle do
      Mar Báltico (dominium maris baltici).
    </p>
    <p class="mb-4">
      Durante muito tempo, a Dinamarca esteve em disputas com a Suécia pelo controle das terras de Skånelandene e
      com a Alemanha pelo controle de Schleswig (um feudo dinamarquês) e Holstein (um feudo alemão). Eventualmente,
      a Dinamarca perdeu esses conflitos, cedendo primeiro Skåneland à Suécia e, posteriormente, Schleswig-Holstein
      ao Império Alemão.
    </p>
    <p class="mb-4">
      Após a cessão da Noruega em 1814, a Dinamarca manteve o controle sobre as antigas colônias norueguesas das
      Ilhas Faroe, Groenlândia e Islândia. Durante o século XX, a Islândia conquistou independência, enquanto a
      Groenlândia e as Ilhas Faroé se tornaram partes integrais do Reino da Dinamarca. O norte de Schleswig
      reunificou-se com a Dinamarca em 1920 após um referendo. Durante a Segunda Guerra Mundial, a Dinamarca foi
      ocupada pela Alemanha nazista, mas foi finalmente libertada pelas forças britânicas dos Aliados em 1945, após
      o que o país se juntou às Nações Unidas.
    </p>
    <p>
      Após a Segunda Guerra Mundial e com o surgimento da Guerra Fria, a Dinamarca foi rápida em se juntar à
      aliança militar da OTAN como membro fundador em 1949.
    </p>
  </div>
</div>
