<footer class="px-4 md:flex md:items-center md:justify-between">
  <div class="py-2 lg:py-6 flex justify-between items-center border-t border-denmark-red dark:border-t-gray-400 p-2 w-full">
    <div class="text-sm tracking-wide">
      © 2024 <a href="#" class="hover:underline">T-Academy™</a>. <small>Alex Cesar</small>.
    </div>
    <ul class="flex items-center text-sm font-medium text-gray-700 dark:text-gray-400 gap-4">
      <li>
        <a href="https://github.com/thealexcesar" target="_blank" rel="noopener noreferrer" class="flex items-center gap-1 hover:underline">
          <fa-icon [icon]="['fab', 'github']"></fa-icon> GitHub
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/thealexcesar" target="_blank" rel="noopener noreferrer" class="flex items-center gap-1 hover:underline">
          <fa-icon [icon]="['fab', 'linkedin']"></fa-icon> LinkedIn
        </a>
      </li>
      <li>
        <a href="https://wa.me/47997365756" target="_blank" rel="noopener noreferrer" class="flex items-center gap-1 hover:underline">
          <fa-icon [icon]="['fab', 'whatsapp']"></fa-icon> Fale comigo
        </a>
      </li>
    </ul>
  </div>
</footer>
