<footer class="bg-gray-100 rounded-lg shadow m-4 dark:bg-gray-800">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm dark:text-gray-700 sm:text-center dark:text-gray-100">© 2023 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-gray-700 dark:text-gray-400 sm:mt-0">
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Sobre</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Política de Privacidade</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Licença</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Contato</a>
      </li>
    </ul>
  </div>
</footer>
