<footer class="bg-gray-100 dark:bg-gray-900 fixed w-full bottom-0 left-0 z-50 transition-shadow duration-300 overflow-hidden">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-4 px-4 xl:px-0 border-t-2 border-denmark-red dark:border-gray-400">
    <div class="text-sm tracking-wide my-2 md:my-0">
      <div class="text-gray-700 dark:text-gray-300">
        &copy; 2024 <a href="https://ready.tec.br/t-academy?trk=test">T-Academy</a>
        A <a href="https://www.proway.com.br/">Proway</a>
        & <a href="https://www.t-systems.com/br/pt">T-Systems</a>
        Bootcamp.
      </div>
    </div>
    <ul class="flex items-center flex-wrap text-sm font-medium text-gray-700 dark:text-gray-400 gap-4 my-2 md:my-0">
      <li class="text-gray-700 dark:text-gray-300">
        thealexcesar
      </li>
      <li>
        <a href="https://github.com/thealexcesar" target="_blank">
          GitHub
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/thealexcesar" target="_blank">
          LinkedIn
        </a>
      </li>
      <li>
        <a href="https://wa.me/47997365756" target="_blank">
          Whatsapp
        </a>
      </li>
    </ul>
  </div>
</footer>
