<div class="content-wrapper flex flex-col h-screen pt-20">
  <div class="container mx-auto content geography relative flex-1 pt-10">
    <div class="overlay home"></div>
    <h1 class="text-denmark-red mb-4">Dinamarca</h1>
    <p class="mb-4">
      A Dinamarca, um dos países nórdicos, é rica em história e cultura, com raízes que remontam
      à Era Viking, aproximadamente entre os séculos VIII e XI. Durante esse período, os dinamarqueses se
      destacaram como habilidosos navegadores e guerreiros, explorando vastas regiões da Europa e além.
      Os vikings dinamarqueses eram conhecidos por suas incursões marítimas, estabelecendo assentamentos
      que se estendiam da atual Inglaterra à Rússia, e até mesmo na América do Norte, onde, segundo
      algumas fontes, chegaram a descobrir a Terra Nova, no Canadá, cerca de 500 anos antes de Cristóvão Colombo.
    </p>
    <p class="mb-4">
      A Dinamarca unificou-se como um reino no século X sob o rei Harald Bluetooth, que também é famoso
      por introduzir o cristianismo na região. O legado viking é evidente não apenas na história militar da Dinamarca,
      mas também em sua língua, cultura e tradições que perduram até hoje. As sagas vikings, que narram as aventuras
      e conquistas desses povos, continuam a influenciar a literatura e a cultura popular, oferecendo um vislumbre
      fascinante da vida e da sociedade dinamarquesa na antiguidade.
    </p>
    <p>
      A Dinamarca moderna, portanto, carrega consigo esse rico patrimônio histórico, refletindo uma
      evolução de um povo que começou como exploradores destemidos e se tornou uma nação reconhecida
      pela sua alta qualidade de vida e sistema de bem-estar social avançado.
    </p>

    <!--TODO TABLE-->
   <!-- <div class="mt-6">
      <div class="my-6 overflow-hidden bg-white rounded-md shadow">
        <table class="w-full text-left border-collapse">
          <thead class="border-b">
          <tr>
            <th class="px-5 py-3 text-sm font-semibold text-gray-100 uppercase bg-denmark-blue">
              City
            </th>
            <th class="px-5 py-3 text-sm font-semibold text-gray-100 uppercase bg-denmark-blue">
              Total orders
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="hover:bg-gray-200">
            <td class="px-6 py-4 text-lg text-gray-700 border-b"> TESTE </td>
            <td class="px-6 py-4 text-gray-500 border-b"> TESTE </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>-->
  </div>
</div>
