<div class="content-wrapper flex flex-col h-screen pt-20">
  <div class="container mx-auto content geography relative flex-1 pt-10">
    <div class="overlay"></div>
    <h1 class="text-denmark-red mb-4">Geografia da Dinamarca</h1>
    <p class="mb-4">
      A Dinamarca é um país nórdico localizado no norte da Europa, consistindo na Península da Jutlândia e em várias ilhas no Mar Báltico, referidas como o Arquipélago Dinamarquês. O país faz fronteira com a Suécia e a Noruega, além de ter uma fronteira terrestre de 68 km com a Alemanha.
    </p>
    <p class="mb-4">
      Com uma costa marítima de 8.750 km, a Dinamarca é banhada pelos mares Báltico e do Norte. Sua área terrestre é de aproximadamente 43.094 km², e é composta por 443 ilhas, sendo 72 delas habitadas. As ilhas principais incluem Zelândia (Sjælland) e Funen (Fyn), além de Bornholm, localizada a leste no Mar Báltico.
    </p>
    <p class="mb-4">
      O ponto mais alto da Dinamarca é Møllehøj, com 171 m, enquanto o ponto mais baixo, o Fiorde de Lamm, encontra-se 7 m abaixo do nível do mar. O rio mais longo é o Gudenå, que mede 149 km, e o maior lago do país é o Arresø, com uma área de 40,72 km².
    </p>
    <p class="mb-4">
      O clima da Dinamarca é temperado, com invernos amenos e verões frescos. A posição geográfica do país dá-lhe controle sobre os estreitos dinamarqueses (Skagerrak e Kattegat), que conectam os mares Báltico e do Norte. Entre os recursos naturais, destacam-se petróleo, gás natural, peixes, sal, calcário, giz, pedras, cascalho e areia.
    </p>
    <p>
      As principais cidades incluem Copenhague, a capital localizada em Zelândia; Århus, Aalborg e Esbjerg na Jutlândia; e Odense em Funen. O país possui várias pontes que conectam as ilhas, como a Ponte Øresund, que liga Zelândia à Suécia; a Ponte do Grande Cinto, que conecta Funen a Zelândia; e a Ponte do Pequeno Cinto, que liga Jutlândia a Funen.
    </p>
  </div>
</div>
