<div id="login" class="p-10 min-h-screen flex items-center justify-center bg-slate-300 dark:bg-slate-800 rounded">
  <div class="content w-full max-w-sm mx-auto text-left lg:py-16 p-6">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="w-full">
      <h2 class="text-2xl mb-5">{{ isSignUp ? 'Criar Conta' : 'Entrar' }}</h2>

      <div class="mb-5" *ngIf="isSignUp">
        <input
          type="text"
          id="name"
          formControlName="name"
          class="w-full"
          placeholder="Nome"
          aria-label="Nome"
          required
        />
        <mat-error *ngIf="authForm.get('name')?.hasError('required') && !authForm.get('name')?.untouched">
          O nome é obrigatório.
        </mat-error>
        <mat-error *ngIf="authForm.get('name')?.hasError('minlength') && !authForm.get('name')?.untouched">
          O nome deve ter pelo menos 3 caracteres.
        </mat-error>
      </div>

      <div class="mb-5">
        <input
          type="email"
          id="email"
          formControlName="email"
          class="w-full"
          placeholder="E-mail"
          aria-label="E-mail"
          required
        />
        <mat-error *ngIf="authForm.get('email')?.hasError('required') && !authForm.get('email')?.untouched">
          O email é obrigatório.
        </mat-error>
        <mat-error *ngIf="authForm.get('email')?.hasError('email') && !authForm.get('email')?.untouched">
          O email deve ser válido.
        </mat-error>
      </div>

      <div class="mb-5">
        <input
          type="password"
          id="password"
          formControlName="password"
          class="w-full"
          placeholder="Senha"
          aria-label="Senha"
          required
        />
        <mat-error *ngIf="authForm.get('password')?.hasError('required') && !authForm.get('password')?.untouched">
          A senha é obrigatória.
        </mat-error>
        <mat-error *ngIf="authForm.get('password')?.hasError('minlength') && !authForm.get('password')?.untouched">
          A senha deve ter pelo menos 6 caracteres.
        </mat-error>
      </div>

      <div *ngIf="isSignUp" class="mb-5">
        <input
          formControlName="avatar"
          type="text"
          placeholder="URL do Avatar"
          aria-label="URL do Avatar"
          class="w-full"
        />
      </div>

      <div class="flex items-start mb-5">
        <div class="flex items-center h-5">
          <input
            id="remember"
            type="checkbox"
            value=""
          />
        </div>
        <label for="remember" class="ms-2 text-sm font-medium theme-light-title dark:text-gray-300">Lembrar de mim</label>
      </div>

      <div class="flex justify-between items-center">
        <button
          type="button"
          (click)="toggleSign()"
          class="text-sm text-blue-600 hover:underline dark:text-blue-500"
        >
          {{ isSignUp ? 'Já possui uma conta? Entrar' : 'Não tem uma conta? Criar' }}
        </button>
        <button
          type="submit"
        >
          {{ isSignUp ? 'Criar Conta' : 'Entrar' }}
        </button>
      </div>
    </form>
  </div>
</div>
