<section class="flex flex-column container items">
  <div class="mx-auto max-w-screen-xl text-left lg:py-16">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="max-w-sm mx-auto">
      <h2 class="text-2xl mb-5">{{ isSignUp ? 'Criar Conta' : 'Entrar' }}</h2>

      <div class="mb-5" *ngIf="isSignUp">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seu nome</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Digite seu nome"
          required
        />
        <mat-error *ngIf="authForm.get('name')?.hasError('required') && authForm.get('name')?.untouched">
          O nome é obrigatório.
        </mat-error>
        <mat-error *ngIf="authForm.get('name')?.hasError('minlength') && authForm.get('name')?.untouched">
          O nome deve ter pelo menos 3 caracteres.
        </mat-error>
      </div>

      <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seu email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="name@flowbite.com"
          required
        />
        <mat-error *ngIf="authForm.get('email')?.hasError('required') && !authForm.get('email')?.untouched">
          O email é obrigatório.
        </mat-error>
        <mat-error *ngIf="authForm.get('email')?.hasError('email') && !authForm.get('email')?.untouched">
          O email deve ser válido.
        </mat-error>
      </div>

      <div class="mb-5">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sua senha</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required
        />
        <mat-error *ngIf="authForm.get('password')?.hasError('required') && !authForm.get('password')?.untouched">
          A senha é obrigatória.
        </mat-error>
        <mat-error *ngIf="authForm.get('password')?.hasError('minlength') && !authForm.get('password')?.untouched">
          A senha deve ter pelo menos 6 caracteres.
        </mat-error>
      </div>

      <div class="flex items-start mb-5">
        <div class="flex items-center h-5">
          <input
            id="remember"
            type="checkbox"
            value=""
            class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
          />
        </div>
        <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Lembrar de mim</label>
      </div>

      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        {{ isSignUp ? 'Criar Conta' : 'Entrar' }}
      </button>

      <button
        type="button"
        (click)="toggleSign()"
        class="mt-4 text-sm text-blue-600 hover:underline dark:text-blue-500"
      >
        {{ isSignUp ? 'Já possui uma conta? Entrar' : 'Não tem uma conta? Criar' }}
      </button>
    </form>
  </div>
</section>
