<div class="error-container text-center">
  <h1 class="text-6xl font-bold text-gray-900 dark:text-white">
    {{ errorType === 'not-found' ? '404' : 'Oops!' }}
  </h1>
  <h2 class="text-2xl font-semibold text-gray-700 dark:text-gray-300 mt-4">
    <ng-container [ngSwitch]="errorType">
      <ng-container *ngSwitchCase="'not-found'">Página Não Encontrada</ng-container>
      <ng-container *ngSwitchCase="'entity-not-found'">{{ entityName }} Não Encontrado(a)</ng-container>
      <ng-container *ngSwitchCase="'error'">Erro Desconhecido</ng-container>
      <ng-container *ngSwitchDefault>Erro ao Carregar</ng-container>
    </ng-container>
  </h2>
  <p class="text-lg text-gray-500 dark:text-gray-400 mt-2">
    <ng-container [ngSwitch]="errorType">
      <ng-container *ngSwitchCase="'not-found'">
        Desculpe, não conseguimos encontrar a página que você está procurando.
      </ng-container>
      <ng-container *ngSwitchCase="'entity-not-found'">
        Desculpe, não conseguimos encontrar o(a) {{ entityName.toLowerCase() }} que você está procurando.
      </ng-container>
      <ng-container *ngSwitchCase="'error'">
        Ocorreu um erro desconhecido. Por favor, peça para o administrador verificar o servidor do JSON Server.
      </ng-container>
      <ng-container *ngSwitchDefault>
        Ocorreu um erro ao carregar o conteúdo. Tente novamente mais tarde.
      </ng-container>
    </ng-container>
  </p>
<!--  <img src="assets/images/error.svg" alt="Error" class="mx-auto my-6 h-64">-->
  <button routerLink="/" class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300
                 dark:bg-blue-700 dark:hover:bg-blue-800 dark:focus:ring-blue-900
                 font-medium rounded-lg px-5 py-2.5 mt-4">
    Voltar para a Home
  </button>
</div>
