<div class="content-wrapper flex flex-col h-screen pt-20">
  <div class="container mx-auto content home relative flex-1 pt-10">
    <div class="overlay home"></div>
    <h1 class="text-denmark-red mb-4">Dinamarca</h1>
    <p class="mb-4">
      A Dinamarca, um dos países nórdicos, é rica em história e cultura, com raízes que remontam
      à Era Viking, aproximadamente entre os séculos VIII e XI. Durante esse período, os dinamarqueses se
      destacaram como habilidosos navegadores e guerreiros, explorando vastas regiões da Europa e além.
      Os vikings dinamarqueses eram conhecidos por suas incursões marítimas, estabelecendo assentamentos
      que se estendiam da atual Inglaterra à Rússia, e até mesmo na América do Norte, onde, segundo
      algumas fontes, chegaram a descobrir a Terra Nova, no Canadá, cerca de 500 anos antes de Cristóvão Colombo.
    </p>
    <p class="mb-4">
      A Dinamarca unificou-se como um reino no século X sob o rei Harald Bluetooth, que também é famoso
      por introduzir o cristianismo na região. O legado viking é evidente não apenas na história militar da Dinamarca,
      mas também em sua língua, cultura e tradições que perduram até hoje. As sagas vikings, que narram as aventuras
      e conquistas desses povos, continuam a influenciar a literatura e a cultura popular, oferecendo um vislumbre
      fascinante da vida e da sociedade dinamarquesa na antiguidade.
    </p>
    <p>
      A Dinamarca moderna, portanto, carrega consigo esse rico patrimônio histórico, refletindo uma
      evolução de um povo que começou como exploradores destemidos e se tornou uma nação reconhecida
      pela sua alta qualidade de vida e sistema de bem-estar social avançado.
    </p>
  </div>
</div>


<!-- DEMOGRAFIA TODO Component-->
<div class="content-wrapper flex flex-col h-screen pt-20">
  <div class="container mx-auto content demographics relative flex-1 pt-10">
    <div class="overlay"></div>
    <h1 class="text-denmark-red mb-4">Demografia da Dinamarca</h1>
    <p class="mb-4">
      A Dinamarca tem uma população estimada em 5.974.086 habitantes (dados de 1º de agosto de 2024). O crescimento populacional é de aproximadamente 1,0085% ao ano, com uma taxa de natalidade de 9,85 nascimentos por 1.000 habitantes e uma taxa de mortalidade de 10,02 mortes por 1.000 habitantes.
    </p>
    <p class="mb-4">
      A expectativa de vida na Dinamarca é de 81,66 anos, com 79,74 anos para os homens e 83,71 anos para as mulheres. A taxa de fertilidade é de 1,55 filhos por mulher e a taxa de mortalidade infantil é de 3,04 mortes por 1.000 nascimentos vivos.
    </p>
    <p class="mb-4">
      A estrutura etária é composta por 16,42% da população com idade entre 0 e 14 anos, e 19,91% com 65 anos ou mais. O índice de sexos é de 0,99 homens para cada mulher, com uma proporção de 1,07 homens por mulher ao nascer e 0,7 homens por mulher na faixa etária de 65 anos ou mais.
    </p>
    <p class="mb-4">
      A população de origem dinamarquesa, definida como aqueles com pelo menos um dos pais nascido na Dinamarca e que possui cidadania dinamarquesa, tem se mantido constante em torno de 5 milhões desde 1980. O crescimento populacional a partir de 5,1 milhões até os 5,8 milhões em 2018 foi quase todo devido à imigração.
    </p>
    <p>
      Dados demográficos revelam que, em média, ocorre um nascimento a cada 8 minutos, uma morte a cada 9 minutos e um migrante líquido a cada 34 minutos, resultando em um ganho líquido de uma pessoa a cada 24 minutos. A população dinamarquesa tem se mostrado diversificada, refletindo um crescente número de grupos étnicos e nacionais que enriquecem a cultura do país.
    </p>
  </div>
</div>


<!-- HISTORIA TODO Component-->
<div class="content-wrapper flex flex-col h-screen pt-20">
  <div class="container mx-auto content history relative flex-1 pt-10">
    <div class="overlay"></div>
    <h1 class="text-denmark-red mb-4">História da Dinamarca</h1>
    <p class="mb-4">
      A história da Dinamarca como um reino unificado teve início no século VIII, embora documentos históricos
      descrevam a área geográfica e o povo que lá habitava—os dinamarqueses—já no ano 500 d.C. Esses documentos
      primitivos incluem escritos de autores como Jordanes e Procopius. Com a cristianização dos dinamarqueses
      por volta de 960 d.C., fica claro que já existia uma monarquia. O rei Frederik X pode traçar sua linhagem
      de volta aos reis vikings Gorm, o Velho, e Harald Bluetooth, fazendo da Monarquia da Dinamarca a mais antiga
      da Europa.
    </p>
    <p class="mb-4">
      A área agora conhecida como Dinamarca possui uma rica pré-história, sendo habitada por várias culturas e
      povos pré-históricos durante cerca de 12.000 anos, desde o final da última Era do Gelo. A história da
      Dinamarca foi particularmente influenciada por sua localização geográfica entre os mares do Norte e Báltico,
      um ponto estratégico e econômico entre a Suécia e a Alemanha, no centro de lutas mútuas pelo controle do
      Mar Báltico (dominium maris baltici).
    </p>
    <p class="mb-4">
      Durante muito tempo, a Dinamarca esteve em disputas com a Suécia pelo controle das terras de Skånelandene e
      com a Alemanha pelo controle de Schleswig (um feudo dinamarquês) e Holstein (um feudo alemão). Eventualmente,
      a Dinamarca perdeu esses conflitos, cedendo primeiro Skåneland à Suécia e, posteriormente, Schleswig-Holstein
      ao Império Alemão.
    </p>
    <p class="mb-4">
      Após a cessão da Noruega em 1814, a Dinamarca manteve o controle sobre as antigas colônias norueguesas das
      Ilhas Faroe, Groenlândia e Islândia. Durante o século XX, a Islândia conquistou independência, enquanto a
      Groenlândia e as Ilhas Faroé se tornaram partes integrais do Reino da Dinamarca. O norte de Schleswig
      reunificou-se com a Dinamarca em 1920 após um referendo. Durante a Segunda Guerra Mundial, a Dinamarca foi
      ocupada pela Alemanha nazista, mas foi finalmente libertada pelas forças britânicas dos Aliados em 1945, após
      o que o país se juntou às Nações Unidas.
    </p>
    <p>
      Após a Segunda Guerra Mundial e com o surgimento da Guerra Fria, a Dinamarca foi rápida em se juntar à
      aliança militar da OTAN como membro fundador em 1949.
    </p>
  </div>
</div>


<!-- ECONOMIA TODO Component-->
<div class="content-wrapper flex flex-col h-screen pt-20">
  <div class="container mx-auto content economy relative flex-1 pt-10">
    <div class="overlay"></div>
    <h1 class="text-denmark-red mb-4">Economia da Dinamarca</h1>
    <p class="mb-4">
      A economia da Dinamarca é uma economia mista moderna, caracterizada por alto desenvolvimento e rendimento.
      Dominada pelo setor de serviços, que representa cerca de 80% de todos os empregos, a Dinamarca apresenta uma
      estrutura econômica equilibrada, onde apenas 11% da força de trabalho está empregada na indústria e 2% na
      agricultura. Em 2023, a Renda Nacional Bruta nominal per capita foi de US$ 68.827, posicionando o país como
      a nona nação com a renda per capita mais alta do mundo.
    </p>
    <p class="mb-4">
      A distribuição de renda na Dinamarca é relativamente igualitária, embora tenha aumentado um pouco nas últimas
      décadas. Em 2017, o país registrou um dos menores coeficientes de Gini da União Europeia, refletindo uma
      sociedade que valoriza a justiça econômica e a coesão social. Com uma população de aproximadamente 5,9 milhões
      de habitantes, a Dinamarca ocupa a 38ª posição mundial em PIB nominal e a 52ª em paridade do poder de compra
      (PPC).
    </p>
    <p class="mb-4">
      O sistema de seguridade social dinamarquês é amplamente reconhecido como um dos mais eficientes, com os
      gastos sociais representando cerca de 26,2% do PIB. A economia dinamarquesa mantém uma taxa de câmbio fixa,
      utilizando a coroa dinamarquesa, que é atrelada ao euro, mesmo após os eleitores rejeitarem a adoção do euro
      em um referendo em 2000. O banco central da Dinamarca prioriza a estabilidade da taxa de câmbio, mantendo uma
      política monetária que resulta em taxas de juros negativas desde 2015, como forma de conter a pressão cambial.
    </p>
    <p class="mb-4">
      A força de trabalho dinamarquesa é notável por sua alta taxa de participação, especialmente entre as mulheres,
      com 78,8% da população entre 15 e 64 anos ativa no mercado de trabalho em 2017. A taxa de desemprego é
      relativamente baixa, em torno de 4,8%, com um forte nível de sindicalização e cobertura de acordos coletivos.
      A Dinamarca investe significativamente em políticas de mercado de trabalho, seguindo o modelo de "flexigurança",
      que combina flexibilidade para empregadores e segurança para trabalhadores.
    </p>
    <p>
      Representando um exemplo claro do modelo nórdico, a Dinamarca mantém altos níveis de impostos que financiam
      serviços públicos abrangentes, incluindo saúde, educação e assistência social. Em 2017, a receita tributária
      totalizou 46,1% do PIB. A política fiscal dinamarquesa é vista como saudável, com uma dívida pública próxima de
      zero e uma perspectiva de longo prazo que leva em conta os desafios fiscais futuros decorrentes do envelhecimento
      populacional. Nos últimos anos, a política fiscal tem sido considerada excessivamente sustentável, permitindo que
      a Dinamarca continue a prosperar em um cenário econômico global dinâmico.
    </p>
  </div>
</div>


<!-- GEOGRAFIA TODO Component-->
<div class="content-wrapper flex flex-col h-screen pt-20">
  <div class="container mx-auto content geography relative flex-1 pt-10">
    <div class="overlay"></div>
    <h1 class="text-denmark-red mb-4">Geografia da Dinamarca</h1>
    <p class="mb-4">
      A Dinamarca é um país nórdico localizado no norte da Europa, consistindo na Península da Jutlândia e em várias ilhas no Mar Báltico, referidas como o Arquipélago Dinamarquês. O país faz fronteira com a Suécia e a Noruega, além de ter uma fronteira terrestre de 68 km com a Alemanha.
    </p>
    <p class="mb-4">
      Com uma costa marítima de 8.750 km, a Dinamarca é banhada pelos mares Báltico e do Norte. Sua área terrestre é de aproximadamente 43.094 km², e é composta por 443 ilhas, sendo 72 delas habitadas. As ilhas principais incluem Zelândia (Sjælland) e Funen (Fyn), além de Bornholm, localizada a leste no Mar Báltico.
    </p>
    <p class="mb-4">
      O ponto mais alto da Dinamarca é Møllehøj, com 171 m, enquanto o ponto mais baixo, o Fiorde de Lamm, encontra-se 7 m abaixo do nível do mar. O rio mais longo é o Gudenå, que mede 149 km, e o maior lago do país é o Arresø, com uma área de 40,72 km².
    </p>
    <p class="mb-4">
      O clima da Dinamarca é temperado, com invernos amenos e verões frescos. A posição geográfica do país dá-lhe controle sobre os estreitos dinamarqueses (Skagerrak e Kattegat), que conectam os mares Báltico e do Norte. Entre os recursos naturais, destacam-se petróleo, gás natural, peixes, sal, calcário, giz, pedras, cascalho e areia.
    </p>
    <p>
      As principais cidades incluem Copenhague, a capital localizada em Zelândia; Århus, Aalborg e Esbjerg na Jutlândia; e Odense em Funen. O país possui várias pontes que conectam as ilhas, como a Ponte Øresund, que liga Zelândia à Suécia; a Ponte do Grande Cinto, que conecta Funen a Zelândia; e a Ponte do Pequeno Cinto, que liga Jutlândia a Funen.
    </p>
  </div>
</div>
