<section class="bg-gray-100 dark:bg-gray-900 mb-0 pb-0 mt-16 md:mt-0 h-4/6">
  <div class="mx-auto max-w-screen-xl text-left lg:py-16">
    <h2
      class="mb-4 tracking-tight leading-none theme-light-title dark:text-white">
      Explore a Dinamarca
    </h2>




    <div class="text-gray-700 dark:text-gray-100">
      <p class="mb-4">
        A Dinamarca, um dos países nórdicos, é rica em história e cultura, com raízes que remontam
        à Era Viking, aproximadamente entre os séculos VIII e XI. Durante esse período, os dinamarqueses se
        destacaram como habilidosos navegadores e guerreiros, explorando vastas regiões da Europa e além.
        Os vikings dinamarqueses eram conhecidos por suas incursões marítimas, estabelecendo assentamentos
        que se estendiam da atual Inglaterra à Rússia, e até mesmo na América do Norte, onde, segundo
        algumas fontes, chegaram a descobrir a Terra Nova, no Canadá, cerca de 500 anos antes de Cristóvão Colombo.
      </p>
      <p class="mb-4">
        A Dinamarca unificou-se como um reino no século X sob o rei Harald Bluetooth, que também é famoso
        por introduzir o cristianismo na região. O legado viking é evidente não apenas na história militar da Dinamarca,
        mas também em sua língua, cultura e tradições que perduram até hoje. As sagas vikings, que narram as aventuras
        e conquistas desses povos, continuam a influenciar a literatura e a cultura popular, oferecendo um vislumbre
        fascinante da vida e da sociedade dinamarquesa na antiguidade.
      </p>
      <p>
        A Dinamarca moderna, portanto, carrega consigo esse rico patrimônio histórico, refletindo uma
        evolução de um povo que começou como exploradores destemidos e se tornou uma nação reconhecida
        pela sua alta qualidade de vida e sistema de bem-estar social avançado.
      </p>
    </div>
  </div>
</section>

<section>
  <h2 id="demography" class="scroll-mt-24">Demografia</h2>
  <denmark-demography/>
</section>
<section>
  <h2 id="history" class="scroll-mt-24">História</h2>
  <denmark-history/>
</section>
<section>
  <h2 id="economy" class="scroll-mt-24">Economia</h2>
  <denmark-economy/>
</section>
