// Custom Theming for Angular Material
@use '../../../node_modules/@angular/material' as mat;

@include mat.core();

$explore-denmark-theme: mat.define-theme((
  color: (
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
    theme-type: light,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($explore-denmark-theme);
}
