@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  html, body {
    * {
      @apply
      bg-gray-100
      text-gray-900
      dark:text-white
      dark:bg-gray-900
    }
  }

  input {
    @apply
    bg-gray-200
    border
    border-gray-300
    text-gray-900
    text-sm
    rounded-lg
    focus:ring-blue-500
    focus:border-blue-500
    block
    w-full
    p-2.5
    dark:bg-gray-700
    dark:border-gray-600
    dark:placeholder-gray-400
    dark:text-white
    dark:focus:ring-blue-500
    dark:focus:border-blue-500
  }

  section, #login {
    @apply
    max-w-screen-xl
    mx-auto
    px-4 py-6
  }

  img {
    @apply h-8 transform bg-transparent hover:bg-transparent active:bg-transparent
  }

  button[type='submit'] {
    @apply
    text-white
    bg-blue-700
    hover:bg-blue-800
    focus:ring-4
    focus:outline-none
    focus:ring-blue-300
    font-medium
    rounded-lg
    text-sm
    w-full
    sm:w-auto
    px-5
    py-2.5
    text-center
    dark:bg-blue-600
    dark:hover:bg-blue-700
    dark:focus:ring-blue-800
  }

  ul.links {
    a {
      @apply
      block
      py-2
      px-4
      text-gray-700
      rounded
      hover:bg-gray-100
      md:hover:bg-transparent
      md:border-0
      md:hover:text-blue-700
      md:p-0
      dark:text-white
      md:dark:hover:text-blue-500
      dark:hover:bg-gray-700
      dark:hover:text-white
      md:dark:hover:bg-transparent
    }

    @apply
    font-medium
    flex
    flex-col
    p-4
    md:p-0
    mt-4
    border
    border-gray-100
    rounded-lg
    bg-gray-50
    md:flex-row
    md:space-x-8
    rtl:space-x-reverse
    md:mt-0
    md:border-0
    md:bg-gray-100
    dark:bg-gray-800
    md:dark:bg-gray-900
    dark:border-gray-700
  }

  .my-toast {
    @apply bg-green-500 text-white rounded-lg p-4 shadow-lg;
    &.error { @apply bg-red-500; }
    &.success { @apply bg-green-500; }
    &.warning { @apply bg-yellow-500; }
    &.info { @apply bg-blue-500; }
  }

  .toast-top-right {
    @apply z-50 right-4 top-4
  }

  .toast-success {
    @apply bg-green-500 text-white
  }

  .toast-error {
    @apply bg-red-500 text-white
  }

  .card-article {
    @apply
    shadow-md
    shadow-gray-500
    rounded-lg
    overflow-hidden
    cursor-pointer
    transition-transform
    transform
    hover:scale-105
  }
}

$font-sizes: (
  h1: 2.5rem,
  h2: 2rem,
  h3: 1.75rem,
  h4: 1.5rem
);

@each $element, $size in $font-sizes {
  #{$element} {
    font-size: $size;
  }
}


