/*
  Table of Contents
  ----------------------------------------------------------------------
  01. Global Styles
  02. Variables
  03. Base Styles
  ---------------------------------------------------------------------- */

/* 01. Global Styles
  ---------------------------------------------------------------------- */
::-webkit-scrollbar
  width: 7px

::-webkit-scrollbar-track
  background: #2D3748

::-webkit-scrollbar-thumb
  background: #CBD5E0

::-webkit-scrollbar-thumb:hover
  background: #718096

/* 02. Variables
  ---------------------------------------------------------------------- */
$dark: #1a1a1a
$light: #f0f4f8
$link: #004b87

/* 03. Base Styles
  ---------------------------------------------------------------------- */
*
  margin: 0
  padding: 0
  box-sizing: border-box

a
  cursor: pointer

footer a:hover
  color: $link

.transform,
.ng-fa-icon > svg
  transition: all ease .2s
  &:hover
    transform: scale(1.2)
